* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    height: 100%;
    font-family: 'Arial', sans-serif;
}

.main-header {
    display: flex;
    background-color: #333;
    color: white;
    padding: 20px;
}

.main-header ul{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    list-style: none;
}

.main-header ul li{
    padding: 10px 15px;
}

.underline-button {
    position: relative;
    text-decoration: none; /* Remove default underline */
    color: white; /* Text color */
    font-size: 1rem;
    padding: 10px 20px;
    overflow: hidden; /* Hide the pseudo-element when not hovered */
}

.underline-button::after {
    content: "";
    position: absolute;
    left: 0; /* Start from the left */
    bottom: 0; /* Position it at the bottom of the button */
    width: 100%; /* Full width */
    height: 2px; /* Height of the underline */
    background-color: white; /* Color of the underline */
    transform: scaleX(0); /* Start with a scale of 0 */
    transition: transform 0.3s ease; /* Smooth transition for scale */
}

.underline-button:hover::after {
    transform: scaleX(1); /* Scale to full width on hover */
}

.content {
    padding: 20px;
    text-align: center;
}

.overlay {
    position: fixed; /* Full-screen overlay */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7); /* Semi-transparent black */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
    z-index: 999; /* On top of everything */
}

.overlay-content {
    text-align: center;
}

h1 {
    font-size: 3rem;
    margin-bottom: 10px;
}

p {
    font-size: 1.5rem;
    margin-bottom: 20px;
}

.cta-button {
    background-color: #ff4757;
    color: white;
    padding: 15px 30px;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    font-size: 1.2rem;
    transition: background-color 0.3s ease;
    margin: 5px;
}

.cta-button:hover {
    background-color: #ff6b81;
}

/* Close button styles */
.close-button {
    position: absolute;
    top: 20px;
    right: 20px;
    background: transparent;
    color: white;
    font-size: 2rem;
    border: none;
    cursor: pointer;
    transition: color 0.3s ease;
}

.close-button:hover {
    color: #ff6b81; /* Change color on hover */
}
