.App {
  position: relative;
  min-height: 100vh;
  background-color: #f0f0f0;
  font-family: 'Roboto', sans-serif;
  overflow-x: hidden;
}

/* Header */
.header {
  background-color: #3498db;
  color: white;
  padding: 20px;
  text-align: center;
  font-size: 1.5rem;
}

/* Content */
.content {
  width: 100%;
  height: calc(100vh - 80px); /* Adjust height to account for header */
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 0;
  margin: 0;
  background-color: #000000b4;
}

